<section class="auth">
    <div class="auth__data">
        <img src="/img/logo-kompi-dark.png" alt="" class="auth__data__logo mb-10">
        <h1 class="titulo-n2 text-center mb-5">Resteblecer password</h1>
        <p class="descri text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ultricies nibh mattis tortor egestas dis at ipsum.</p>
        <p class="mensaje"><%- locals.mensajes.mensaje %></p>
    </div>
    <div class="auth__loginImgBox"></div>
</section>