.auth{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    &__data{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__form{
            width: 40%;
            &--error{
                font-size: 1.4rem;
                font-family: $font-open;
                color: #e74c3c;
                text-align: right;
            }
        }
    }
    &__loginImgBox{
        width: 40%;
        background-image: url(../img/login-img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}