<div class="top__contenedor__menu__item">
    <i class="fa-solid fa-user"></i>
    <a href="/auth/login" class="top__contenedor__menu__item--link">
        Sing In                        
    </a>
    <span>/</span>
    <a href="/auth/register" class="top__contenedor__menu__item--link"> 
        Register
    </a>
</div>