<div class="top__contenedor__menu__item">
    <i class="fa-solid fa-user"></i>
    <a href="/auth/cerrar-sesion" class="top__contenedor__menu__item--link">
        Cerrar Sesión                       
    </a>
</div>