<nav class="nav">
    <div class="nav__top pt-1 pb-1">
        <div class="nav__top__contenedor contenedor">
            <div class="nav__top__contenedor__menuLeft">
                <img src="/img/logo-kompi-dark.png" alt="Logo Kompi">
                <ul class="nav__top__contenedor__menuLeft__menu">
                    <!-- li.nav__top__contenedor__menuLeft__menu__item*5>a.nav__top__contenedor__menuLeft__menu__item--link -->
                    <li class="nav__top__contenedor__menuLeft__menu__item">
                        <a href="/" class="nav__top__contenedor__menuLeft__menu__item--link">
                            Home
                        </a>
                    </li>
                    <li class="nav__top__contenedor__menuLeft__menu__item">
                        <a href="#" class="nav__top__contenedor__menuLeft__menu__item--link">
                            About
                        </a>
                    </li>
                    <li class="nav__top__contenedor__menuLeft__menu__item">
                        <a href="#" class="nav__top__contenedor__menuLeft__menu__item--link">
                            Shop <i class="fa-solid fa-angle-down"></i>
                        </a>
                    </li>
                    <li class="nav__top__contenedor__menuLeft__menu__item">
                        <a href="#" class="nav__top__contenedor__menuLeft__menu__item--link">
                            Pages <i class="fa-solid fa-angle-down"></i>
                        </a>
                    </li>
                    <li class="nav__top__contenedor__menuLeft__menu__item">
                        <a href="#" class="nav__top__contenedor__menuLeft__menu__item--link">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav__top__contenedor__menuCenter">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="nav__top__contenedor__menuRight">
                <ul class="nav__top__contenedor__menuRight__menu">
                    <li class="nav__top__contenedor__menuRight__menu__item mr-3">
                        <a href="#" class="nav__top__contenedor__menuRight__menu__item--link">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </li>
                    <li class="nav__top__contenedor__menuRight__menu__item mr-2">
                        <a href="#" class="nav__top__contenedor__menuRight__menu__item--link">
                            <i class="fa-solid fa-dollar-sign"></i>0
                        </a>
                        <a href="/cart" class="nav__top__contenedor__menuRight__menu__item--link">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <% if(carritoCanti){ %>
                                <span><%- carritoCanti %></span>
                            <% } %>
                        </a>
                    </li>
                    <li class="nav__top__contenedor__menuRight__menu__item">
                        <i class="nav__top__contenedor__menuRight__menu__item--icon fa-solid fa-headset"></i>
                        <div class="nav__top__contenedor__menuRight__menu__item__data">
                            <div>(+021) 345 678 910</div>
                            <div>Email: info@kompi.com</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav__bottom">
        <div class="nav__bottom__contenedor contenedor">
            <ul class="nav__bottom__contenedor__menu">
                <!-- li.nav__bottom__contenedor__menu__item*6>a.nav__bottom__contenedor__menu__item--link -->
                <li class="nav__bottom__contenedor__menu__item">
                    <a href="#" class="nav__bottom__contenedor__menu__item--link">Best Deals</a>
                </li>
                <li class="nav__bottom__contenedor__menu__item">
                    <a href="#" class="nav__bottom__contenedor__menu__item--link">Best Seller</a>
                </li>
                <li class="nav__bottom__contenedor__menu__item">
                    <a href="#" class="nav__bottom__contenedor__menu__item--link">Gaming PC</a>
                </li>
                <li class="nav__bottom__contenedor__menu__item">
                    <a href="#" class="nav__bottom__contenedor__menu__item--link">Gaming Peripheral</a>
                </li>
                <li class="nav__bottom__contenedor__menu__item">
                    <a href="#" class="nav__bottom__contenedor__menu__item--link">System Builder</a>
                </li>
                <li class="nav__bottom__contenedor__menu__item">
                    <a href="#" class="nav__bottom__contenedor__menu__item--link">Cables & Adapters</a>
                </li>
            </ul>
        </div>
    </div>
</nav>