<%- include('top.ejs') %>
<%- include('nav.ejs') %>

<main class="main">
    <div class="main__contenedor contenedor">
        <section class="producto pt-5 pb-5">
            <div class="producto__detalle">
                <div class="producto__detalle__img">
                    <img src="img/product-1-300x300.jpg" alt="">
                </div>
                <div class="producto__detalle__data">
                    <h2 class="tituloPro">IPASON – Gaming Desktop – AMD 3000G</h2>
                    <div class="producto__detalle__data__precio">
                        <span class="producto__detalle__data__precio__before">$40</span>
                        <span class="producto__detalle__data__precio__oferta">$23</span>
                    </div>
                    <p class="descri">Velit, condimentum nibh facilisi diam volutpat ullamcorper. Faucibus in dignissim nunc, eget molestie id amet vitae congue nulla. Aenean nec erat sed sociis sed neque. Sem ante leo Facilisis morbi</p>
                    <form class="producto__detalle__data__form">
                        <div class="producto__detalle__data__form__canti">
                            <input type="number" value="1">
                        </div>
                        <div class="producto__detalle__data__form__btn">
                            <input type="submit" value="Add to cart">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
<script src="js/app.js"></script>
