/*
    BREAKPOINTS
    REM & EM
    DIV : 12PX FONT SIZE
        : 85PX -> 10REM

    // 992px / 16PX -> 62EM
    // 768px / 16PX -> 48EM
    // 576px / 16PX -> 36EM
    // 420px / 16PX
    // 380px / 16PX
*/
$bp-large: 62em;
$bp-medium: 48em;
$bp-small: 36em;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
    div {
        width: 100px;
        border : 20px solid red;
        box-sizing: border-box;
    }

*/
html {
    font-size: 62.5%;
    // ahora la fuente base es de 10px -> 1rem
    @media only screen and (max-width: $bp-small){
        font-size: 50%; // 1rem = 8px
    }
}

a {
    text-decoration: none;
    display: inline-block;
}
ul, 
ol {
    list-style: none;
}