<section class="admin">
    <div class="admin__menu">
        <img src="/img/logo-kompi-dark.png" alt="" class="admin__data__logo mb-3">
        <ul class="admin__menu__box">
            <li class="admin__menu__box__item">
                <a href="" class="admin__menu__box__item--link">Productos</a>
            </li>
            <li class="admin__menu__box__item">
                <a href="" class="admin__menu__box__item--link">Pedidos</a>
            </li>
            <li class="admin__menu__box__item">
                <a href="" class="admin__menu__box__item--link">Comentarios</a>
            </li>
        </ul>
    </div>
    <div class="admin__data">
        <h1 class="titulo-n2 text-center mb-5">Formulario Productos</h1>
        <p class="mensaje"></p>
        <form class="admin__data__form mt-4" method="post">
            <input type="hidden" name="_csrf" value=<%- csrfToken %>>
            <div class="form-group mb-2">
                <input type="text" placeholder="Email" name="email" value=>
                <div class="admin__data__form--error">
                    
                </div>
            </div>
            <div class="form-group mb-5">
                <input type="password" placeholder="Password" name="password">
                <div class="admin__data__form--error">
                    
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btnFullWidth color-blanco">
            </div>
        </form>
    </div>
</section>