.admin {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    &__menu {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #16a085;
        &__box{
            &__item{
                &--link{
                    font-family: $font-raj;
                    font-size: 2.4rem;
                    font-weight: 700;
                    color: white;
                    padding: 1rem;
                    &:hover{
                        color: #f1c40f;
                    }
                }
            }
        }
    }
    &__data {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &__form {
            width: 40%;
            &--error {
                font-size: 1.4rem;
                font-family: $font-open;
                color: #e74c3c;
                text-align: right;
            }
        }
        &__box{
            width: 80%;
            &__header{
                display: flex;
                border-bottom: .2rem solid black;
                padding-bottom: .5rem;
                &--name{
                    flex-grow: 1;
                    font-size: 1.6rem;
                    font-family: $font-raj;
                    font-weight: 700;
                    color: #7f8c8d;
                    text-align: center;
                }
            }
            &__body{
                &__fila{
                    display: flex;
                    border-bottom: 1px solid rgba(black, .2);
                    &--name {
                        flex-grow: 1;
                        font-size: 1.6rem;
                        font-family: $font-raj;
                        font-weight: 700;
                        text-align: center;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}
