<section class="admin">
    <%- include('../menu.ejs') %>
    <div class="admin__data">
        <h1 class="titulo-n2 text-center mb-5">Todos Los productos</h1>
        <a href="/admin/productos/crear" class="btn btnBG-naranja color-blanco mb-5">Crear Producto</a>
        <p class="mensaje"></p>
        <div class="admin__data__box">
            <div class="admin__data__box__header">
                <div class="admin__data__box__header--name">
                    ID
                </div>
                <div class="admin__data__box__header--name">
                    NOMBRE
                </div>
                <div class="admin__data__box__header--name">
                    DESCRIPCIÓN
                </div>
                <div class="admin__data__box__header--name">
                    IMAGEN
                </div>
                <div class="admin__data__box__header--name">
                    PRECIO
                </div>
            </div>
            <div class="admin__data__box__body">
                <div class="admin__data__box__body__fila">
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                </div>
                <div class="admin__data__box__body__fila">
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                    <div class="admin__data__box__body__fila--name">
                        45645
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>